[submodule "imprimante-3d/Marlin"]
	path = imprimante-3d/Marlin
	url = https://github.com/Nancyborg/Marlin.git
[submodule "CubeALed"]
	path = CubeALed
	url = git@github.com:Nancyborg/CubeALed.git
[submodule "CoupeDeFrance"]
	path = CoupeDeFrance
	url = git@github.com:Nancyborg/CoupeDeFrance.git
[submodule "Imprimante3D"]
	path = Imprimante3D
	url = git@github.com:Nancyborg/Imprimante3D.git
[submodule "Electronique"]
	path = Electronique
	url = git@github.com:Nancyborg/Electronique.git
[submodule "Tests"]
	path = Tests
	url = git@github.com:Nancyborg/Tests.git
[submodule "Librairies"]
	path = Librairies
	url = git@github.com:Nancyborg/Librairies.git
